
<style>
  :host {
    --asphalt: oklch(15.77% 0.02 45.56);
    --coffee-bean: oklch(21.76% 0.036 39.98);
    --cedar: oklch(27.75% 0.051 40.68);
    --brown-derby: oklch(33.07% 0.065 40.96);
    --mule-fawn: oklch(48.01% 0.102 40.01);
    --medium-carmine: oklch(53.03% 0.115 40.74);
    --brown-rust: oklch(57.64% 0.126 40.36);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --asphalt-to-coffee-bean-to-cedar-vertical-gradient: linear-gradient(
      180deg,
      var(--asphalt) 0%,
      var(--coffee-bean) 50%,
      var(--cedar) 100%
    );

    --asphalt-to-coffee-bean-to-cedar-horizontal-gradient: linear-gradient(
      90deg,
      var(--asphalt) 0%,
      var(--coffee-bean) 50%,
      var(--cedar) 100%
    );

    --pill-accent: var(--brown-rust);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

/* You can add global styles to this file, and also import other style files */
body {
    background-color: #000000;
}

.calculator {
    display: flex;
}
.container {
    
    border: 1px solid #140a06;
    border-radius: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 55%;
    background-color: #140a06;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    padding: 5%;
}

.button { 
        height: 95%;
        padding: 10%;
        font-size: 2rem;    
        color: #c4c4c4;
        background-color: #28140d;
        border-radius: 60px;
        border: transparent;
        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(31, 28, 28);

}

.button:hover {
    background-color: #8d472e;
}

.operator {
    font-size: 2rem;    
    color: #c4c4c4;
    border-radius: 60px;
    border: transparent;
    background-color: #3d1f14;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(31, 28, 28);
}
.operator:hover{
    background-color: #a25234;
}

.clear {
    background-color: #51291a;
    border-color: transparent;
    color: #fff;
    border-radius: 60px;
    width: 95%;
    height: 60%;  
}

.clear:hover {
    background-color: #b65c3b;
}

.equal-sign {
    background-color: #3d1f14;
    border-color: transparent;
    border-radius: 60px;
    color: #fff;
}

.equal-sign:hover {
    background-color: #a25234;
}

.screen{
    background-color:transparent;
    justify-content: right;
    color: #c4c4c4;
    border: transparent;
    font-size: xx-large;
    border-radius: 60px;
    width: 40%;
    height: 10%;
    cursor: default;
    padding: 10px; 
    padding-left: 40%;
}</style>

<main class="main"> 
        <script src="C:\Users\JanaPlatz\Documents\GitHub\calculator-in-angular\Calculator\src\app\app.js" ></script>
<body>
    <div class="calculator">
        <h1 style="text-align: center;">Calculator</h1>
            <div class="container">
            <br>
            <table>
                <tr>
                    <td colspan="3"><input type="text" id='result' class ='screen' style="text-align: right;"></td>
                    <td align="right"><input type='button' value = 'C' onclick="clearScreen()" class="clear"/></td>
                </tr>
            </table>
                <div class="keys">
                    <input type="button" value="7" class="button" onclick="display(7)">
                    <input type="button" value="8" class="button " onclick="display(8)">
                    <input type="button" value="9" class="button" onclick="display(9)">
                    <input type="button" value="/" class="operator" onclick="display('/')">
                    <input type="button" value="4" class="button" onclick="display(4)">
                    <input type="button" value="5" class="button" onclick="display(5)"> 
                    <input type="button" value="6" class="button" onclick="display(6)">
                    <input type="button" value="*" class="operator" onclick="display('*')">
                    <input type="button" value="1" class="button" onclick="display(1)">
                    <input type="button" value="2" class="button" onclick="display(2)">
                    <input type="button" value="3" class="button" onclick="display(3)">
                    <input type="button" value="-" class="operator" onclick="display('-')">
                    <input type="button" value="0" class="button" onclick="display(0)">
                    <input type="button" value="." class="button" onclick="display('.')">
                    <input type="button" value= "=" class="button equal-sign" onclick="solve()">      
                    <input type="button" value="+" class="operator" onclick="display('+')">
          </div> 
        </div> 
    </div> 
   </body>
</main>
<router-outlet />
