
<style>
  :host {
    --asphalt: oklch(15.77% 0.02 45.56);
    --coffee-bean: oklch(21.76% 0.036 39.98);
    --cedar: oklch(27.75% 0.051 40.68);
    --brown-derby: oklch(33.07% 0.065 40.96);
    --mule-fawn: oklch(48.01% 0.102 40.01);
    --medium-carmine: oklch(53.03% 0.115 40.74);
    --brown-rust: oklch(57.64% 0.126 40.36);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --asphalt-to-coffee-bean-to-cedar-vertical-gradient: linear-gradient(
      180deg,
      var(--asphalt) 0%,
      var(--coffee-bean) 50%,
      var(--cedar) 100%
    );

    --asphalt-to-coffee-bean-to-cedar-horizontal-gradient: linear-gradient(
      90deg,
      var(--asphalt) 0%,
      var(--coffee-bean) 50%,
      var(--cedar) 100%
    );

    --pill-accent: var(--brown-rust);
    
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

</style>

<main class="main">      
    <div class="calculator">
        <h1 style="text-align: center;">Calculator</h1>
    <div class="container">
        <div colspan="3" ><input type="text" id='result' class ='screen' ></div>
           <div class="keys">
              <input type="button" value="7" class="button" (click)="display(7)">
              <input type="button" value="8" class="button " (click)="display(8)">
              <input type="button" value="9" class="button" (click)="display(9)">
              <input type="button" value="/" class="operator" (click)="display('/')">
              <input type="button" value="4" class="button" (click)="display(4)">
              <input type="button" value="5" class="button" (click)="display(5)"> 
              <input type="button" value="6" class="button" (click)="display(6)">
              <input type="button" value="*" class="operator" (click)="display('*')">
              <input type="button" value="1" class="button" (click)="display(1)">
              <input type="button" value="2" class="button" (click)="display(2)">
              <input type="button" value="3" class="button" (click)="display(3)">
              <input type="button" value="-" class="operator" (click)="display('-')">
              <input type="button" value="0" class="button" (click)="display(0)">
              <input type="button" value="." class="button" (click)="display('.')">
              <input type="button" value= "=" class="operator" (click)="solve()">      
              <input type="button" value="+" class="operator" (click)="display('+')">
              <input type="button" value="C" class="clear" (click)="clearScreen()">
            </div> 
        </div> 
    </div> 
</main>
